name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Check with Biome
        run: pnpm run check

  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build
        run: pnpm run build

  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Test
        run: pnpm run test:ci

  e2e:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install Playwright Browsers
        run: pnpx playwright install --with-deps
      - name: Run E2E tests
        run: pnpm run e2e

  typecheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Type check
        run: pnpm run typecheck
