name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Check with Biome
        run: bun run check

  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Build
        run: bun run build

  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Test
        run: bun run test:ci

  e2e:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps
      - name: Run E2E tests
        run: bun run e2e

  typecheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup
        uses: ./.github/actions/setup
      - name: Type check
        run: bun run typecheck
